html, body {
  padding:0;
  margin: 0;
  font-family: sans-serif;
  line-height: unset;
}

div, span { display: block; }

#container.widget {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: black;
}

.info { 
  display: flex; 
  margin-left: 1em;
  flex-wrap: wrap;
  align-items: center;
}

.widget .info {
  flex-direction: column;
  overflow: hidden;
  margin-left: 0;
  color: white;
}

.next { display: flex; flex-direction: column; color: grey; }

span { padding-right: 0.5em; }

#time, #currentBlock {
  font-size: 24pt;
}

.widget #currentBlock {
  font-size: 18pt;
}
.widget #nextBlock, .widget #timeToNextBlock {
  font-size: 14pt;
}

#nextBlock, #timeToNextBlock {
  font-size: 18pt;
  display: inline-block;
}

#actionButton {
  margin: 0;
  margin-right: 0.5em;
}

#root {
  position: relative;
}

#verticalTimeline {
  position: relative;
  margin-top: 1em;
}

.now {
  position: absolute;
  height: 1px;
  width: 150px;
  left: 25px;
  background: blue;
}

.tick, .block {
  position: absolute;
  font-size: 11px;
  width: 100px;
}

.block {
  left: 50px;
}

.tick {
  padding: 0;
  display: block;
  width: 200px;
  border-top: 1px solid #ffaaaa;
}

.blockInfo {
  position: relative;
  left: 150px;
}
.blockInfo span {
  display: inline;
  white-space: nowrap;
}

#quarters {
  width: calc(14px * 20 + 2px * 6);
  padding-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
  background: black;
}

.quarter {
  margin: 4px 2px 0 2px;
  outline: 1px solid black;
  width: 10px;
  height: 10px;
}

.quarter:nth-child(4n + 1) {
  margin-left: 4px;
}

.quarter.active {
  outline-color: white;
}
